@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h3 {
    background: #40916c;
    padding: 10px;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #40916c;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); */
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.1s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #ffffff;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

.container {
    height: 50vh;
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.detail-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    justify-content: space-between;
    padding-bottom: 10px;
}

.buttons {
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 20px;
}

.detail-container input {
    height: 80%;
    width: 30%;
    outline: none;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 10px;
}

.buttons input {
    height: 100%;
    width: 30%;
    outline: none;
    border: 3px solid black;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: #40916c;
    padding: 5px;
}

span {
    margin: 5px;
}

@media (max-width:810px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
}

@media (max-width:477px) {
    #header {
        padding: 10px 30px;
    }
}