@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h3 {
    background-color: #40916c;
    padding: 10px;
    position: sticky;
    top: 0;
}

body {
    width: 100%;
}

#header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #40916c;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); */
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a .profile-div {
    width: 30px;
    height: 30px;
    border: 0px solid black;
    border-radius: 50%;
}

#navbar li a .profile-div img {
    object-fit: fill;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

.mainContainer {
    height: 90vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    /* border: 3px solid black; */
}

.taskContainer {
    height: 100%;
    width: 80%;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
}

#head {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* border: 3px solid black; */
}

#addTask {
    height: 40px;
    width: 20%;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: #40916c;
    align-items: center;
}

#taskScreen {
    width: 100%;
    height: auto;
    /* border: 3px solid green; */
    display: flex;

    flex-direction: row;
    overflow-y: scroll;
    overflow: hidden;
}

#pending {
    width: 50%;
    height: auto;
    /* border: 3px solid purple; */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#completed {
    width: 50%;
    height: auto;
    /* border: 3px solid purple; */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#taskDetails {
    outline: none;
    border: 3px solid #40916c;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 13px;
    transition: all 0.3s ease;
    width: 100%;
    height: 40px;
    margin: 10px;
}

.thirdpartyContainer {
    height: 100%;
    width: 20%;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer,
#weather,
#gif {
    margin: auto;
    height: 100%;
    width: 100%;
    border: 3px solid #000;
    color: #40916c;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    /* padding: 75px; */
    background: #ffffff;
}

@media (max-width:810px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
}

@media (max-width:477px) {
    #header {
        padding: 10px 30px;
    }
}