@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins:wght@300;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #40916c;
}

.container {
    max-width: 700px;
    width: 100%;
    padding: 20px 25px;
    background: #fff;
    border-radius: 5px;
}

.container .title {
    font-size: 20px;
    font-weight: 700;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #40916c;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 8px;
    width: calc(100% / 2 - 10px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 800;
    margin-bottom: 5px;
    font-size: 15px;
}

.user-details .input-box input {
    outline: none;
    border: 3px solid #ccc;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 13px;

    transition: all 0.3s ease;
    width: 100%;
    height: 45px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #40916c;
}

form .gender-details .gender-title {
    font-size: 15px;
    font-weight: 800;
}

form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details .category label {
    display: flex;
    align-items: center;
    font-size: 12px;

}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    border-color: #d9d9d9;
    background: #40916c;
}

form input[type="radio"] {
    display: none;
}

.container-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

form .birthdate .birthdate-title {
    font-size: 15px;
    font-weight: 800;
}

.birthdate input {
    padding: 10px;
    margin: 10px 0 10px 0;
    border: 3px solid #ccc;
    border-radius: 5px;
}

form .button {
    height: 45px;
    width: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: #40916c;
}

form .button input:hover {
    background: #1b4332;
}

.linkPage {
    margin-top: 10px;
    text-align: center;
}


@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .container form .container-2 {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 0px;
    }

    form .user-details .input-box {
        mask-border: 15px;
        width: 100%;
    }

    form .gender-details .category {
        width: 100%;
    }
}